html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
  margin-top: 64px;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 550px;
  max-height: 550px;
  background-color: #1f2937;
  margin: 0 auto;
  padding: 100px 52px 52px;
}

.title {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.025em;
}

.text-green {
  color: #4adf86;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #d5d4d8;
  margin-bottom: 70px;
}

.generator-module {
  border-bottom: 1px solid #2f3e53;
  padding-bottom: 35px;
  margin-bottom: 35px;
}

button {
  background-color: #10b981;
  font-size: 16px;
  font-weight: 500px;
  color: #ffffff;
  border: none;
  padding: 15px 25px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 35px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.password-length,
.to-clipboard {
  font-size: 14px;
}

.to-clipboard {
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
  height: 30px;
}

label {
  margin-right: 15px;
}

.password-display {
  display: flex;
  margin-bottom: 30px;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  background-color: #273549;
  color: #55f991;
  border-radius: 6px;
  margin-top: 27px;
}

/* toggle switch */

.toggler {
  position: relative;
}

.switch {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  width: 5.625em;
  height: 2.125em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1c1c1c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.75em;
  width: 1.75em;
  left: 2px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #273549;
  position: absolute;
}

input:checked + .slider:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* light theme */

.container.light-theme {
  background-color: #ecfdf5;
}

.text-accent.light-theme {
  color: #2b283a;
}

.text-green.light-theme {
  color: #10b981;
}

.subtitle.light-theme {
  color: #6b7280;
}

.flex-right.light-theme {
  color: #6b7280;
}

.generator-module.light-theme {
  border-bottom: 1px solid #d5d4d8;
}

/* custom length range indicator */

input[type="range"] {
  -webkit-appearance: none;
  height: 7px;
  background: #d5d4d8;
  border-radius: 5px;
  background-image: linear-gradient(#10b981, #10b981);
  background-size: 30% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4adf86;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* custom checkbox */

input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 1px solid #10b981;
}

input[type="checkbox"]::before {
  content: "✔";
  color: #ffffff;
  font-size: 18px;
  position: relative;
  padding: 2px 3px;
  margin-bottom: 15px;
  margin-left: -1px;
  opacity: 0;
  outline: none;
  background-color: #10b981;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}
